<div class="modal fade" tabindex="-1" id="eliminar">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Eliminar album</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Esta seguro que quiere eliminar este album?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerar</button>
        <a class="btn btn-danger" id="modal-delete">Eliminar</a>
      </div>
    </div>
  </div>
</div>

<!-- Table -->

<div class="mt-5">
  <table class="table table-striped" id="table">
    <thead>
      <tr>
        <th scope="col">Album</th>
        <th scope="col">Detalles</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col" class="text-center">Acciones</th>
      </tr>
    </thead>

    <tbody>
      {{#each albumes }}
      <tr id="{{id_alb}}">
        <td>
          {{nombre_alb}}
        </td>
        <td>
          {{genero}}
        </td>
        <td>
          $ {{precio_alb}}
        </td>

        <td>
          {{dateFormat fecha_alb}}
        </td>
        <td>
          {{numpistas_alb}}
        </td>
        <td class="text-center">
          <a href="/home/addmusic/music/{{id_alb}}" class="btn btn-primary mb-1">Agregar canciones</a>
          <button class="btn btn-primary mb-1 ml-3" data-bs-toggle="modal" data-bs-target="#modal">
            <i class="fas fa-pen"></i>
          </button>
          <button class="btn btn-danger mb-1 ml-3" data-bs-toggle="modal" data-bs-target="#eliminar">
            <i class="fas fa-trash-alt"></i>
          </button>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <div class="d-flex justify-content-end">

    <a class="btn btn-light" href="/home">
      <i class="fa fa-chevron-left m-2"></i>
      REGRESAR</a>
  </div>
</div>


<script>
  document.addEventListener('DOMContentLoaded', function () {
    const tabla = document.getElementById('table');
    const modalDelete = document.getElementById('modal-delete');
    const form = document.getElementById('form-edit');

    const titulom = document.getElementById('titulo-m');
    const fecham = document.getElementById('fecha-m');
    const npistasm = document.getElementById('npistas-m');
    const preciom = document.getElementById('precio-m');

    for (i = 1; i < tabla.rows.length; i++) {
      // Atributos de cada row
      const id = tabla.rows[i].getAttribute('id');
      const titulo = tabla.rows[i].children[0].innerText;
      const genero = tabla.rows[i].children[1].innerText;
      const precio = tabla.rows[i].children[2].innerText;
      const fecha = tabla.rows[i].children[3].innerText;
      const npistas = tabla.rows[i].children[4].innerText;

      const btnDelete = tabla.rows[i].children[5].children[2];
      const btnEdit = tabla.rows[i].children[5].children[1];

      btnDelete.onclick = () => {
        modalDelete.setAttribute('href', `/home/addmusic/delete/${id}`);
      }

      btnEdit.onclick = () => {
        titulom.value = titulo;
        const d = fecha.split('/');
        fecham.value = `${d[2]}-${d[1]}-${d[0]}`;
        preciom.value = precio.slice(2);
        form.setAttribute('action', `/home/addmusic/edit/${id}`);
      }
    }
  });

</script>
