<div class="modal fade" tabindex="-1" id="eliminar">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Eliminar Cancion</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Esta seguro que quiere eliminar esta cancion?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
        <a class="btn btn-danger" id="modal-delete">Eliminar</a>
      </div>
    </div>
  </div>
</div>

<!-- Table -->

<div class="mt-5">
  <table class="table table-striped" id="table">
    <thead>
      <tr>
        <th scope="col">Cancion</th>
        <th scope="col">Detalles</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col" class="text-center">Acciones</th>
      </tr>
    </thead>

    <tbody>
      {{#each canciones }}
      <tr id="{{id_can}}">
        <td>
          {{nombre_can}}
        </td>
        <td>
          {{duracion_can}}
        </td>
        <td>
          {{nropista_can}}
        </td>
        <td>
          {{genero}}
        </td>
        <td class="text-center">
          <button class="btn btn-primary mb-1 ml-3" data-bs-toggle="modal" data-bs-target="#modal">
            Editar
            <i class="ml-2 fas fa-pen"></i>
          </button>
          <button class="btn btn-danger mb-1 ml-3" data-bs-toggle="modal" data-bs-target="#eliminar">
            Eliminar
            <i class="ml-2 fas fa-trash-alt"></i>
          </button>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <div class="d-flex justify-content-end">

    <a href='/home/addmusic/' class="btn btn-light">
      <i class="fa fa-chevron-left m-2"></i>
      REGRESAR</a>
  </div>
</div>


<script>
  document.addEventListener('DOMContentLoaded', function () {
    const tabla = document.getElementById('table');
    const modalDelete = document.getElementById('modal-delete');
    const form = document.getElementById('form-edit');

    const nombrem = document.getElementById('nombre-m');
    const duracionm = document.getElementById('duracion-m');

    for (i = 1; i < tabla.rows.length; i++) {
      // Atributos de cada row
      const id = tabla.rows[i].getAttribute('id');
      const titulo = tabla.rows[i].children[0].innerText;
      const duracion = tabla.rows[i].children[1].innerText;

      const btnDelete = tabla.rows[i].children[4].children[1];
      const btnEdit = tabla.rows[i].children[4].children[0];

      btnDelete.onclick = () => {
        modalDelete.setAttribute('href', `/home/addmusic/music/delete/${id}`);
      }

      btnEdit.onclick = () => {
        nombrem.value = titulo;
        duracionm.value = duracion;
        form.setAttribute('action', `/home/addmusic/music/edit/${id}`);
      }
    }
  });

</script>