<div class='container'>
  {{! Modal edit }}
  <div class='modal fade' id='editPlan'>
    <div class='modal-dialog modal-lg' role='document'>
      <div class='modal-content'>
        <div class='modal-header text-center'>
          <h4 class='fw-bolder'>Editar Plan</h4>
          <button
            type='button'
            class='close'
            data-bs-dismiss='modal'`
            aria-label='Close'
          >
            <span aria-hidden='true'>&times;</span>
          </button>

        </div>
      <form method="POST" id="formEdit">
        <div class='modal-body'>
          <div class="card border-primary">
            <div class="d-flex">
              <div class="col-5">
                <h5 class="my-3">Nombre del plan</h5>
                <h5 class="my-3">Descripción</h5>
                <h5 class="my-3">Precio</h5>
                <h5 class="my-3">Duración</h5>
              </div>

              <div class="col-7">
                <input type="text" id="m-nombre" name="nombre" class="form-control my-2">
                <input type="text" id="m-descripcion" name="descripcion" class="form-control my-2">
                <input type="number" id="m-precio" name="precio" class="form-control" placeholder="0.00" step="0.01"
                required>
                <input type="number" id="m-dias" name="duracion" class="form-control my-2">
              </div>
            </div>
          </div>
        </div>
        <div class='modal-footer'>
          <button type='submit' class='btn btn-primary'>Guardar cambios</button>
          <button
            type='button'
            class='btn btn-secondary'
            data-bs-dismiss='modal'
          >Cerrar</button>
        </div>
      </form>
      </div>
    </div>
  </div>

  {{! Modal insert }}
  <div class='modal fade' id="newPlan">
    <div class='modal-dialog modal-lg' role='document'>
      <div class='modal-content'>
        <div class='modal-header text-center'>
          <h4 class='fw-bolder'>Crear plan</h4>
          <button
            type='button'
            class='close'
            data-bs-dismiss='modal'`
            aria-label='Close'
          >
            <span aria-hidden='true'>&times;</span>
          </button>

        </div>
        <form method="POST" action="/admin/planes">
          <div class='modal-body'>
            <div class="card border-primary">
              <div class="d-flex">

                <div class="col-5">
                  <h5 class="my-3">Nombre del plan</h5>
                  <h5 class="my-3">Descripción</h5>
                  <h5 class="my-3">Precio</h5>
                  <h5 class="my-3">Duración</h5>
                </div>

                <div class="col-7">
                  <input type="text" name="nombre" class="form-control my-2">
                  <input type="text" name="descripcion" class="form-control my-2">
                  <input type="number" name="precio" class="form-control" placeholder="0.00" step="0.01"
                  required>
                  <input type="number" name="duracion" class="form-control my-2">
                </div>
              </div>
            </div>
          </div>
          <div class='modal-footer'>
            <button type='submit' class='btn btn-primary'>Crear plan</button>
            <button
              type='button'
              class='btn btn-secondary'
              data-bs-dismiss='modal'
            >Cerrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  {{!-- Modal delete --}}
<div class="modal fade" tabindex="-1" id="deletePlan">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Eliminar plan</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Esta seguro que quiere eliminar plan?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerar</button>
        <a class="btn btn-danger" id="modal-delete">Eliminar</a>
      </div>
    </div>
  </div>
</div>

  {{! Cuerpo de la pagina }}
  <div class='row col-12 card border-primary mx-auto mt-3 p-4'>

    <div class='row mb-2'>
      <div class='col-6'>
        <div class='d-flex justify-content-center'>
          <p class='h3 text-warning'>Todos los planes</p>
        </div>

      </div>
      <div class='col-6'>
        <div class='d-flex justify-content-end pr-3'>
          <button class='btn btn-outline-warning mr-5'
              data-bs-toggle='modal'
              data-bs-target='#newPlan'>
            <p class='h5 m-0'>Crear nuevo Plan</p>
          </button>
        </div>
      </div>
      <div class="col-11 mx-5 px-5">
        <div class='d-flex justify-content-end'>
          {{> messageAdmin}}
        </div>
      </div>
    </div>

    <div class='row justify-content-center' id="tarjetas">
      {{#each planes}}
        <div class='card mb-3 col-5 bg-primary mx-2' id='{{id_pl}}'>
          <div class='card-body'>
            <h4 class='card-title fw-bolder'>{{nombre_pl}}</h4>
          </div>
          <div class='card-body'>
            <p class='card-text'>{{descripcion_pl}}</p>
          </div>
          <ul class='list-group list-group-flush'>
            <li class='list-group-item bg-primary border-white' aux = '{{precio_pl}}'>El precio es:
              {{coinFormat precio_pl}}</li>
            <li class='list-group-item bg-primary border-white' aux = '{{duracion_pl}}'>La duración es:
              {{duracion_pl}}
              días</li>
          </ul>
          <div class='card-body'>
            <button
              class='btn btn-info mx-1'
              data-bs-toggle='modal'
              data-bs-target='#editPlan'
            >Editar plan</button>
            <button
              class='btn btn-danger mx-1'
              data-bs-toggle='modal'
              data-bs-target='#deletePlan'
            >Eliminar plan</button>
          </div>
        </div>
      {{/each}}

    </div>

  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Agregando eventos a las tarjetas
    const tarjetas = document.getElementById('tarjetas');

    //input modal
    const inNombre = document.getElementById('m-nombre');
    const inDescripcion = document.getElementById('m-descripcion');
    const inPrecio = document.getElementById('m-precio');
    const inDias = document.getElementById('m-dias');

    // Form
    const form = document.getElementById('formEdit');
    const btnModalDelete = document.getElementById('modal-delete');

    for (const tarjeta of tarjetas.children) {
      // Valores
      const id = tarjeta.id;
      const nombre = tarjeta.children[0].children[0].innerText;
      const descripcion = tarjeta.children[1].children[0].innerText;
      const precio = tarjeta.children[2].children[0].getAttribute('aux');
      const duracion = tarjeta.children[2].children[1].getAttribute('aux');

      // Botones
      const btnEdit = tarjeta.children[3].children[0];
      const btnDelete = tarjeta.children[3].children[1];

      if (btnEdit) {

        btnEdit.onclick = () =>{
          inNombre.value = nombre;
          inDescripcion.value = descripcion;
          inPrecio.value = precio;
          inDias.value = duracion;
          form.setAttribute('action', `/admin/planes/edit/${id}`);
        }
      }

      if (btnDelete) {
        btnDelete.onclick = () => {
          btnModalDelete.setAttribute('href', `/admin/planes/delete/${id}`);
        }
      }
    }
  })
</script>
