<div class='container my-4'>
  <div class='row justify-content-start border-bottom'>

    <div class='col-3 mx-4 my-3'>
      <div class='row justify-content-center'>
        <img src='/img/Logos/album2.png' alt='logo-album' width='210' />
      </div>
    </div>

    <div class='col-7 mx-2 my-4'>
      <p class='h3 mt-3 text-success'>{{album}}</p>
      <p class='h4'>
        <a class='h4 text-white' href='/user/art/{{idArt}}'>{{artista}}
          <i class='bi bi-person-check-fill ml-1'></i>
        </a>
      </p>
      <p class='h6'>{{dateFormat fecha}}
        <i class='fas fa-calendar-day ml-1'></i>
      </p>
      <p class='h6'>{{pistas}}
        PISTAS
        <i class='bi bi-music-note'></i>
      </p>
      <p>Lanzado hace {{timeago fecha}}</p>
    </div>

    {{! BTN Regresar }}
    <div class='col-1'>
      <a
        href='javascript:history.back()'
        class='d-flex align-items-center h1 ml-5 pl-4'
        style='text-decoration:none'
      >
        <i class='fas fa-arrow-alt-circle-left'></i>
      </a>
    </div>

  </div>

  {{! Canciones }}
  <div class='row mb-2'>
    <h4 class='col-2 py-3'>Canciones
      <i class='fas fa-chevron-right ml-2'></i>
    </h4>
  </div>
  <div class='row mb-3 border-bottom'>
    {{#if canciones}}
      <table class='table table-striped table-hover'>
        <thead>
          <tr>
            <th>
              <i class='fas fa-sort-numeric-down'></i>
            </th>
            <th scope='col'>Canción
              <i class='bi bi-music-note'></i>
            </th>

            <th scope='col'>Género
              <i class='fas fa-guitar ml-1'></i>
            </th>
            <th scope='col'>Duración
              <i class='bi bi-stopwatch-fill ml-1'></i>
            </th>
          </tr>
        </thead>

        <tbody>
          {{#each canciones}}
            <tr>
              <td>
                {{nropista_can}}
              </td>
              <td>
                {{nombre_can}}
              </td>

              <td>
                {{nombre_gen}}
              </td>
              <td>
                {{duracion_can}}
              </td>

            </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
      <h5>No se encontró resultados :(</h5>
    {{/if}}
  </div>

</div>
